/* html與@import 二選一 */
@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); 
//Icon
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*,
*::after, 
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}
ul{
	list-style-type: none;
}
body {
	// font-family: 'Poppins', sans-serif;
	font-family: "Castoro", serif;
	// font-size: 16px;
	font-weight: 400;
  	font-style: normal;
	line-height: 1.5;
	color: #121212;
	background-color: #f5f5f5;
}

.container{
	max-width: 1200px;
	margin: 0 auto;

	@media screen and (max-width: 992px){
		max-width: 960px;
	}

	@media screen and (max-width: 768px){
		max-width: 720px;
	}

	@media screen and (max-width: 576px){
		max-width: 540px;
	}

	@media screen and (max-width: 375px){
        max-width: 100%;
    }
}

//navbar  ------------------------------/
.navbar-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ecead0;
	font-weight: bold;
	margin-bottom: 24px;
	font-size: 18px;

	@media (max-width:576px){
		padding-left:0;
		flex-wrap: wrap;
		flex-direction: column;
	}
}
  
.navbar-nav li {
	margin-right: 36px;
	margin-left: 36px;

	@media (max-width:576px){
		margin-right: 0px;
		margin-left: 0px;
		width: 100%;
		border-bottom: 1px solid #fff;
		text-align: center;
	}
}
  
.navbar-nav a {
	display: block;
	padding: 14px 0;
}
  
.nav-item {
	text-decoration: none;
	color: #000;
}
  
.nav-item:hover {
	color: #fff;
}

//blog ------------------------------/
.blog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 20px;

	li.blog-item {
		flex-basis: calc(33% - 30px);
		background-color: #eee;

		@media screen and (max-width: 576px){
			flex-basis: 100%;
		}

		@media screen and (max-width: 992px){
			flex-basis: calc(50% - 30px);
		}
	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.content {
	padding: 12px;
	gap: 8px;
	h3 {
		font-size: 18px;
		color: #000000;
		margin: 0;
		font-weight: bold;
	}
	p {
		font-size: 14px;
	}
}
.date {
	font-size: 14px;
}
.tags {
	a {
		font-size: 13px;
		margin-right: 8px;
		&:hover {
			text-decoration: underline;
		}
	}
}
.btnMore {
	border: 1px solid #aaaaaa;
	color: #000000;
	padding: 2px 6px;
	font-size: 12px;
	border-radius: 100px;
	text-decoration: none;
	&:hover {
		background-color: #007bff;
		color: #ffffff;
		transition: 0.3s;
	}
	&:active {
		background-color: red;
	}
}

// page
/* ------ 請修改此處 ------ */
.pagination .page,
.pagination .arrow {
transition: all 0.3s;
	&:hover{
	// 觸碰時加上背景顏色、文字顏色、pointer 的小拇指。
		background-color: #8b62b1;
		color: #ffffff;
		cursor: pointer;
	}
	&:active{
	//     加上背景顏色、縮小 0.8 倍。
		background-color: #f0f0f0;
		transform: scale(0.8);
	}
}
  
/* ------ 修改結束 ------ */
  
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    // background: #fff;
    padding: 6px 14px;
    // border-radius: 9999px;
    // box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}
  
.pagination a {
    text-decoration: none;
}
  
.pagination .page,
.pagination .arrow,
.pagination .dots {
    padding: 4px 8px;
    color: #444;
    border-radius: 6px;
}
  
.pagination .page.active {
    color: #1a5ddc;
    font-weight: bold;
    background-color: #e6f0ff;
}
  
.pagination .dots {
    cursor: default;
    color: #888;
}
  